In [1]:
import pandas as pd
import sqlite3

In [2]:
connect = sqlite3.connect("raw-database.db")

In [2]:
data = pd.read_json("Projet_centres_data/SB_events/3894037.json")

C:\Users\natha\AppData\Local\Temp\ipykernel_21284\343757373.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data = pd.read_json("Projet_centres_data/SB_events/3894037.json")
C:\Users\natha\AppData\Local\Temp\ipykernel_21284\343757373.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data = pd.read_json("Projet_centres_data/SB_events/3894037.json")
C:\Users\natha\AppData\Local\Temp\ipykernel_21284\343757373.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  data = pd.read_json("Projet_centres_data/SB_events/3894037.json")

In [3]:
frame = pd.read_json("Projet_centres_data/SKC_crosses_freeze_frames/1020753.json")

In [4]:
frame

,data,possession,frame,image_corners_projection,timestamp,period,event_id,event_x,event_y,is_matched
0,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'home team', 'trackable_object': None}",4382,"[14.490561396508877, 39.0, 6.377297523786342, ...",2024-12-05 00:03:35.200,1,2e85ad3e-59c4-479a-a478-4c98174f686b,28.6125,17.0,False
1,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'home team', 'trackable_object': None}",4425,"[26.3247208890037, 39.0, 13.226052003434921, -...",2024-12-05 00:03:39.500,1,872df8f3-a750-4b61-8890-61a35e96b4a4,36.575,31.45,True
2,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'away team', 'trackable_object': 12772}",4442,"[33.67480536267122, 39.0, 16.916413817863404, ...",2024-12-05 00:03:41.200,1,0f842e18-1363-4af3-8faa-6c9cce55b118,42.6125,6.97,True
3,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'home team', 'trackable_object': 509...",6306,"[32.38161951996144, 39.0, 11.883825965616897, ...",2024-12-05 00:06:47.600,1,991afbcd-9ced-48ca-8253-f9f2408d1290,36.225,-20.995,True
4,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'home team', 'trackable_object': 509...",6330,"[50.04212081842759, 39.0, 19.685190566234695, ...",2024-12-05 00:06:50.000,1,102a8d71-103b-4a16-a16a-09315649df86,40.425,-18.53,True
...,...,...,...,...,...,...,...,...,...,...
70,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'away team', 'trackable_object': None}",57581,"[36.59013175127285, 39.0, 16.00490146226639, -...",2024-12-05 01:26:29.100,2,f2f2427d-888b-4d0b-8e39-6ea625b029e8,48.3875,22.27,True
71,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'away team', 'trackable_object': None}",57599,"[48.10504829257342, 39.0, 21.055406456598362, ...",2024-12-05 01:26:30.900,2,2b983ed8-a6ad-44f9-bc7a-5999ab8bc2de,48.9125,-6.035,False
72,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'away team', 'trackable_object': None}",58565,"[-98.46671481909615, 39.0, -36.97120940052444,...",2024-12-05 01:28:07.500,2,9c084c03-9d3c-4b2a-a03f-2787b698516b,-45.15,16.32,True
73,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': 'away team', 'trackable_object': None}",58568,"[-99.17829594749777, 39.0, -37.88261696955663,...",2024-12-05 01:28:07.800,2,e53c16f5-2d49-4253-9edc-9b6506fe4729,-48.125,17.765,True
74,"[{'track_id': 12772, 'trackable_object': 12772...","{'group': None, 'trackable_object': None}",58619,[],2024-12-05 01:28:12.900,2,c87aaee5-70a3-4cb3-8fda-b462a52109cf,-38.5,-30.43,False

In [5]:
data.id

0       02591dfb-4789-442f-ae99-53ac3f3aca81
1       a5620f61-b542-46c8-b0b4-8e2daf267e84
2       bbd8311a-1edb-4798-8e7a-5ff7d354a4d3
3       ff601794-6a77-45ae-a6e5-c748c233c454
4       8b59fc6a-ad7f-4d6e-a6d5-8973057972c0
                        ...
3141    43647a17-93a4-46a9-b89b-655438ede887
3142    6f4c1ea0-68c8-4473-8178-39013f501946
3143    7d1d16a1-7854-4804-b73b-54887de62f3c
3144    04e7a531-16f5-4999-a699-d7df16afb5f9
3145    a7086974-eeda-4fe5-8dad-20ed85806cf1
Name: id, Length: 3146, dtype: object

In [4]:
data.columns.tolist()

['50_50',
 'ball_receipt_outcome',
 'ball_recovery_offensive',
 'ball_recovery_recovery_failure',
 'block_deflection',
 'block_offensive',
 'carry_end_location',
 'clearance_aerial_won',
 'clearance_body_part',
 'clearance_head',
 'clearance_left_foot',
 'clearance_other',
 'clearance_right_foot',
 'counterpress',
 'dribble_nutmeg',
 'dribble_outcome',
 'dribble_overrun',
 'duel_outcome',
 'duel_type',
 'duration',
 'foul_committed_advantage',
 'foul_committed_card',
 'foul_committed_offensive',
 'foul_committed_type',
 'foul_won_advantage',
 'foul_won_defensive',
 'goalkeeper_body_part',
 'goalkeeper_end_location',
 'goalkeeper_outcome',
 'goalkeeper_position',
 'goalkeeper_shot_saved_off_target',
 'goalkeeper_technique',
 'goalkeeper_type',
 'id',
 'index',
 'injury_stoppage_in_chain',
 'interception_outcome',
 'location',
 'match_id',
 'minute',
 'obv_against_after',
 'obv_against_before',
 'obv_against_net',
 'obv_for_after',
 'obv_for_before',
 'obv_for_net',
 'obv_total_net',
 'off_camera',
 'out',
 'pass_aerial_won',
 'pass_angle',
 'pass_assisted_shot_id',
 'pass_body_part',
 'pass_cross',
 'pass_cut_back',
 'pass_end_location',
 'pass_goal_assist',
 'pass_height',
 'pass_inswinging',
 'pass_length',
 'pass_outcome',
 'pass_outswinging',
 'pass_pass_cluster_id',
 'pass_pass_cluster_label',
 'pass_pass_cluster_probability',
 'pass_pass_success_probability',
 'pass_recipient_id',
 'pass_shot_assist',
 'pass_switch',
 'pass_technique',
 'pass_through_ball',
 'pass_type',
 'period',
 'play_pattern',
 'player_id',
 'position',
 'possession',
 'possession_team_id',
 'related_events',
 'second',
 'shot_aerial_won',
 'shot_body_part',
 'shot_deflected',
 'shot_end_location',
 'shot_first_time',
 'shot_freeze_frame',
 'shot_gk_positioning_xg_suppression',
 'shot_gk_save_difficulty_xg',
 'shot_gk_shot_stopping_xg_suppression',
 'shot_key_pass_id',
 'shot_one_on_one',
 'shot_outcome',
 'shot_saved_off_target',
 'shot_shot_execution_xg',
 'shot_shot_execution_xg_uplift',
 'shot_shot_shot_assist',
 'shot_statsbomb_xg',
 'shot_technique',
 'shot_type',
 'substitution_outcome',
 'substitution_outcome_id',
 'substitution_replacement',
 'substitution_replacement_id',
 'formation',
 'team_id',
 'timestamp',
 'type',
 'under_pressure']

In [58]:
colonnes = ["shot_type", "shot_outcome", "type", "match_id", "period", "possession", "location", "pass_cross", "pass_type", "index",
            "pass_end_location", "minute", "shot_end_location", "pass_body_part"]

df = data[colonnes]

In [66]:
colonnes = ["shot_type", "shot_outcome", "type", "match_id", "period", "possession", "location", "pass_cross", "pass_type", "index",
            "pass_end_location", "minute", "shot_end_location", "pass_body_part"]

df = data[colonnes].reset_index().rename({"index" : "index_event"}, axis = 1)

df_loc = df.pop("location").dropna()
df_loc = pd.DataFrame(df_loc.tolist(), index = df_loc.index, columns = ["x_loc", "y_loc", "z_loc"])

df_pass_loc = df.pop("pass_end_location").dropna()
df_pass_loc = pd.DataFrame(df_pass_loc.tolist(), index = df_pass_loc.index, columns = ["x_pass", "y_pass"])

df_shot_loc = df.pop("shot_end_location").dropna()
df_shot_loc = pd.DataFrame(df_shot_loc.tolist(), index = df_shot_loc.index, columns = ["x_shot", "y_shot", "z_shot"])

df = pd.concat([df, df_loc, df_pass_loc, df_shot_loc], axis = 1)

In [67]:
df.to_sql("Test event", con = connect, if_exists = "replace")

3146