In [1]:
import pandas as pd
import sqlite3

In [2]:
connect = sqlite3.connect("raw-database.db")

In [5]:
SKC_matches_data_2 = pd.read_json("Projet_centres_data/data_add/SKC_matches_data_2.json")

In [6]:
SKC_matches_data_2

,1547880,1547881,1547882,1547883,1547884,1547885,1547886,1547887,1547888,1536669,...,1034262,1024091,1023376,1022715,1023377,1028727,1022717,1021411,1020753,1020089
0,left_to_right,right_to_left,right_to_left,left_to_right,left_to_right,right_to_left,right_to_left,right_to_left,right_to_left,right_to_left,...,left_to_right,left_to_right,right_to_left,right_to_left,right_to_left,left_to_right,right_to_left,right_to_left,left_to_right,right_to_left
1,right_to_left,left_to_right,left_to_right,right_to_left,right_to_left,left_to_right,left_to_right,left_to_right,left_to_right,left_to_right,...,right_to_left,right_to_left,left_to_right,left_to_right,left_to_right,right_to_left,left_to_right,left_to_right,right_to_left,left_to_right

In [9]:
freeze_frames = pd.read_json("Projet_centres_data/SKC_crosses_freeze_frames/1020089.json")

In [16]:
pd.DataFrame(freeze_frames.iloc[0].data)

,track_id,trackable_object,is_visible,x,y,vx,vy,speed_norm,accel_norm,z
0,12235,12235,True,45.43,-0.97,2.594984,0.087762,2.596468,-0.145596,NaN
1,12327,12327,True,32.26,-2.78,5.386337,-0.666400,5.427404,0.198751,NaN
2,2340,2340,True,33.55,-16.15,5.579671,-0.015822,5.579693,0.400358,NaN
3,12788,12788,True,30.18,5.24,6.059448,-1.084029,6.155650,0.328704,NaN
4,25539,25539,True,30.43,-24.45,5.782475,-0.472854,5.801777,2.292212,NaN
5,28826,28826,True,25.73,-17.81,5.064216,1.340289,5.238574,0.752407,NaN
6,20395,20395,True,13.19,-18.72,3.851392,0.650158,3.905884,-0.200442,NaN
7,7771,7771,True,19.47,-12.85,4.526423,0.440931,4.547849,0.002040,NaN
8,11721,11721,False,6.75,2.53,3.860756,-0.544986,3.899032,0.073585,NaN
9,4930,4930,True,18.14,-24.22,5.158088,1.975228,5.523350,-0.771252,NaN
10,28768,28768,False,2.38,-11.71,1.849606,0.128471,1.854062,0.103999,NaN
11,32039,32039,False,-33.11,-2.82,0.945229,-0.096607,0.950153,0.135725,NaN
12,20407,20407,False,-2.83,-17.30,2.780908,0.341083,2.801747,0.088079,NaN
13,181549,181549,False,-4.84,-0.70,2.216967,-0.594052,2.295177,-0.022336,NaN
14,159756,159756,True,32.63,-25.68,5.822330,-2.795723,6.458760,-0.103886,NaN
15,4510,4510,False,12.05,19.92,2.600605,-2.134891,3.364655,0.081003,NaN
16,1277,1277,False,7.48,-10.47,3.315534,0.912146,3.438717,0.028385,NaN
17,44445,44445,True,21.47,-2.46,5.447263,-1.216670,5.581484,0.827231,NaN
18,141799,141799,True,15.36,-12.70,2.776223,-0.793722,2.887457,-0.334656,NaN
19,8933,8933,True,18.82,-19.92,5.395030,1.947667,5.735831,-0.752304,NaN
20,34316,34316,True,24.63,-23.99,5.492790,2.298522,5.954322,-0.333506,NaN
21,12592,12592,True,30.98,0.82,5.130718,-0.046387,5.130927,0.028969,NaN
22,55,55,True,32.96,-28.64,NaN,NaN,NaN,NaN,0.26

In [11]:
freeze_frames.head(3)

,data,possession,frame,image_corners_projection,timestamp,period,event_id,event_x,event_y,is_matched
0,"[{'track_id': 12235, 'trackable_object': 12235...","{'group': 'away team', 'trackable_object': None}",4820,"[24.17946797703396, 39.0, 9.132086207144336, -...",2025-01-09 00:04:29.000,1,54cbad0c-1f05-4708-9b7f-2cadeae0636b,35.3500,-27.710,True
1,"[{'track_id': 12235, 'trackable_object': 12235...","{'group': 'away team', 'trackable_object': 159...",4834,"[47.42111418514567, 39.0, 19.524037390543953, ...",2025-01-09 00:04:30.400,1,28239a7e-4d65-4618-99f3-2763088e5e92,42.6125,-26.860,True
2,"[{'track_id': 12235, 'trackable_object': 12235...","{'group': 'away team', 'trackable_object': None}",4854,"[42.734535236816924, 39.0, 20.253145169781963,...",2025-01-09 00:04:32.400,1,3ea6ecd9-bc39-4ce5-9b47-1eda239f2705,44.1000,1.615,True