In [1]:
import pandas as pd
import sqlite3

In [2]:
connect = sqlite3.connect("../Databases/raw-database.db")
cursor = connect.cursor()

In [3]:
req = cursor.execute(f"SELECT DISTINCT player_id, team_id,  FROM lineups")
res = req.fetchall()
desc = req.description
players_teams_SB = pd.DataFrame(res)
players_teams_SB.columns = [i[0] for i in desc]

In [8]:
players_teams_SB.player_id.value_counts()

player_id
38885     2
45047     2
162132    2
3763      2
86586     2
         ..
7336      1
158523    1
338193    1
425416    1
15782     1
Name: count, Length: 632, dtype: int64

In [9]:
players_teams_SB[players_teams_SB.player_id == 38885]

     player_id  team_id
71       38885      134
460      38885      144