In [1]:
import sqlite3
import pandas as pd

In [ ]:
connect = sqlite3.connect("../Databases/raw-database.db")
cursor = connect.cursor()

In [3]:
req = cursor.execute(f"SELECT * FROM matching_teams")
res = req.fetchall()
desc = req.description
matching_teams = pd.DataFrame(res)
matching_teams.columns = [i[0] for i in desc]

In [4]:
matching_teams.isna().any()

statsbomb_id      False
skillcorner_id    False
dtype: bool

In [5]:
matching_teams[matching_teams.statsbomb_id.isna()]

Empty DataFrame
Columns: [statsbomb_id, skillcorner_id]
Index: []

In [6]:
matching_teams[matching_teams.skillcorner_id.isna()]

Empty DataFrame
Columns: [statsbomb_id, skillcorner_id]
Index: []