In [1]:
import sqlite3
import pandas as pd

In [2]:
connect = sqlite3.connect("../Databases/raw-database.db")
cursor = connect.cursor()

# Étude des valeurs manquantes dans le matching des matchs

In [3]:
req = cursor.execute(f"SELECT * FROM matching_matches")
res = req.fetchall()
desc = req.description
matching_matches = pd.DataFrame(res)
matching_matches.columns = [i[0] for i in desc]

In [4]:
matching_matches.isna().any()

statsbomb_id       True
skillcorner_id    False
dtype: bool

Ensemble des matchs présents dans les données Skill Corner mais pas dans les données Stats Bomb

In [7]:
matching_matches[matching_matches.statsbomb_id.isna()]

     statsbomb_id  skillcorner_id
238           NaN         1160044

Ensemble des matchs présents dans les données Stats Bomb mais pas dans les données Skill Corner

In [8]:
matching_matches[matching_matches.skillcorner_id.isna()]

Empty DataFrame
Columns: [statsbomb_id, skillcorner_id]
Index: []

# Étude des matchs présents dans les données "Freeze frames" mais pas dans les données "Matching matches"

In [6]:
req = cursor.execute("SELECT match_id_SKC FROM freeze_frames")
res = req.fetchall()
desc = req.description
matchs_SKC = pd.DataFrame(res)
matchs_SKC.columns = [i[0] for i in desc]

In [7]:
matchs_SKC.match_id_SKC[~matchs_SKC.match_id_SKC.isin(matching_matches.skillcorner_id)]

Series([], Name: match_id_SKC, dtype: int64)

# Étude des matchs présents dans les données "Matching matches" mais pas dans les données "Freeze frames"

In [8]:
matching_matches.skillcorner_id[~matching_matches.skillcorner_id.isin(matchs_SKC.match_id_SKC)]

31     1510819
179    1299412
238    1160044
Name: skillcorner_id, dtype: int64

# Étude des matchs présents dans les données "events" mais pas dans les données "Matching matches"

In [9]:
req = cursor.execute("SELECT match_id_SB FROM events")
res = req.fetchall()
desc = req.description
matchs_SB = pd.DataFrame(res)
matchs_SB.columns = [i[0] for i in desc]

In [12]:
matchs_SB.match_id_SB[~matchs_SB.match_id_SB.isin(matching_matches.statsbomb_id)].unique()

array([3916451])

# Étude des matchs présents dans les données "Matching matches" mais pas dans les données "events"

In [15]:
matching_matches.statsbomb_id[~matching_matches.statsbomb_id.isin(matchs_SB.match_id_SB)]

238   NaN
Name: statsbomb_id, dtype: float64