In [1]:
import sqlite3
import pandas as pd

In [2]:
connect = sqlite3.connect("../Databases/raw-database.db")
cursor = connect.cursor()

In [3]:
req = cursor.execute(f"SELECT * FROM matching_teams")
res = req.fetchall()
desc = req.description
matching_teams = pd.DataFrame(res)
matching_teams.columns = [i[0] for i in desc]

In [4]:
matching_teams.isna().any()

team_id_SB     False
team_id_SKC    False
dtype: bool

In [5]:
matching_teams[matching_teams.team_id_SB.isna()]

Empty DataFrame
Columns: [team_id_SB, team_id_SKC]
Index: []

In [6]:
matching_teams[matching_teams.team_id_SKC.isna()]

Empty DataFrame
Columns: [team_id_SB, team_id_SKC]
Index: []

Il n'y a pas de données manquantes au niveau du matching des teams : chaque équipe Skill Corner a un équivalent Stats Bomb et inversement