In [1]:
import sqlite3
import pandas as pd

In [2]:
connect = sqlite3.connect("../Databases/raw-database.db")
cursor = connect.cursor()

# Étude des valeurs manquantes dans le matching des matchs

In [3]:
req = cursor.execute(f"SELECT * FROM matching_matches")
res = req.fetchall()
desc = req.description
matching_matches = pd.DataFrame(res)
matching_matches.columns = [i[0] for i in desc]

In [4]:
matching_matches.isna().any()

match_id_SB      True
match_id_SKC    False
dtype: bool

# Ensemble des matchs présents dans les données Skill Corner mais pas dans les données Stats Bomb

In [5]:
matching_matches[matching_matches.match_id_SB.isna()]

     match_id_SB  match_id_SKC
238          NaN       1160044

# Ensemble des matchs présents dans les données Stats Bomb mais pas dans les données Skill Corner

In [6]:
matching_matches[matching_matches.match_id_SKC.isna()]

Empty DataFrame
Columns: [match_id_SB, match_id_SKC]
Index: []

# Étude des matchs présents dans les données "Freeze frames" mais pas dans les données "Matching matches"

In [7]:
req = cursor.execute("SELECT match_id_SKC FROM freeze_frames")
res = req.fetchall()
desc = req.description
matchs_SKC = pd.DataFrame(res)
matchs_SKC.columns = [i[0] for i in desc]

In [8]:
matchs_SKC.match_id_SKC[~matchs_SKC.match_id_SKC.isin(matching_matches.match_id_SKC)]

Series([], Name: match_id_SKC, dtype: int64)

# Étude des matchs présents dans les données "Matching matches" mais pas dans les données "Freeze frames"

In [9]:
matching_matches.match_id_SKC[~matching_matches.match_id_SKC.isin(matchs_SKC.match_id_SKC)]

31     1510819
179    1299412
238    1160044
Name: match_id_SKC, dtype: int64

# Étude des matchs présents dans les données "events" mais pas dans les données "Matching matches"

In [10]:
req = cursor.execute("SELECT match_id_SB FROM events")
res = req.fetchall()
desc = req.description
matchs_SB = pd.DataFrame(res)
matchs_SB.columns = [i[0] for i in desc]

In [11]:
matchs_SB.match_id_SB[~matchs_SB.match_id_SB.isin(matching_matches.match_id_SB)].unique()

array([3916451])

# Étude des matchs présents dans les données "Matching matches" mais pas dans les données "events"

In [12]:
matching_matches.match_id_SB[~matching_matches.match_id_SB.isin(matchs_SB.match_id_SB)]

238   NaN
Name: match_id_SB, dtype: float64