In [1]:
import sqlite3
import pandas as pd

In [2]:
connect = sqlite3.connect("../raw-database.db")
cursor = connect.cursor()

In [4]:
req = cursor.execute(f"SELECT * FROM matching_matches")
res = req.fetchall()
desc = req.description
matching_matches = pd.DataFrame(res)
matching_matches.columns = [i[0] for i in desc]

In [5]:
matching_matches.isna().any()

statsbomb_id       True
skillcorner_id    False
dtype: bool

In [7]:
matching_matches[matching_matches.statsbomb_id.isna()]

     statsbomb_id  skillcorner_id
238           NaN         1160044

In [8]:
matching_matches[matching_matches.skillcorner_id.isna()]

Empty DataFrame
Columns: [statsbomb_id, skillcorner_id]
Index: []

In [25]:
req = cursor.execute("SELECT match_id_SKC FROM freeze_frames")
res = req.fetchall()
desc = req.description
data = pd.DataFrame(res)
data.columns = [i[0] for i in desc]

In [27]:
data.match_id_SKC[~data.match_id_SKC.isin(matching_matches.skillcorner_id)]

Series([], Name: match_id_SKC, dtype: int64)

In [28]:
matching_matches.skillcorner_id[~matching_matches.skillcorner_id.isin(data.match_id_SKC)]

31     1510819
179    1299412
238    1160044
Name: skillcorner_id, dtype: int64